@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

body {

    margin: 0;
    background: linear-gradient(0deg, #ffe3c0 0%, #ffb26b 100%);
    overflow-x: hidden;
    overflow-y: auto;    
    font-family: "Quicksand", sans-serif;

}

main {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

form {

    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 30px;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    color: #fff;
    box-sizing: border-box;

}

section{

    position: relative;

}

fieldset {

    border: 2px solid rgba(255, 136, 0, 0.541);
    border-radius: 8px;
    padding: 40px;

}

legend {

    font-weight: bold;
    font-size:1.2em;
    padding: 0 10px;

}

label {

    display: block;
    margin-top: 5px;

}

.input-div {

    margin-bottom: 18px;
    display: flex;
    flex-direction: column;

}

.input-div label {

    color: #b95d1b;
    font-weight: bold;
    margin-bottom: 6px;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    
}

.input-informacoes {

    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 8px;
    padding: 10px 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

}

.input-informacoes i {

    color: #ff9f45;
    font-size: 18px;
    margin-right: 10px;

}

.input-informacoes input {

    border: none;
    outline: none;
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    
}

input[type="checkbox"] {

    width: auto;
    margin-right: 8px;

}

button{

    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #f5a55b;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: 0.5s;

}

button:hover {

    background-color: #d6764a;

}

.bolhas {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    z-index: -1;
    overflow: hidden;
    
}

.bolhas span {

    background: radial-gradient(circle, #ff9f45 0%, #ffb26b 100%);
    position:absolute;
    bottom: -150px;
    border-radius: 50%;


    animation: subir linear infinite;
    animation-duration: calc(120s / var(--i));
    left: calc(var(--i) * 3.3vw);
    width: calc(10px + (var(--i) * 1.5px));
    height: calc(10px + (var(--i) * 1.5px));
    animation-delay: calc(var(--i) * -1s);

}

@keyframes subir {

    0% {

        transform: translateY(0) scale(1);
        opacity: 1;

    }

    100% {

        transform: translateY(-110vh) scale(0.5);
        opacity: 0;

    }
}

.check-div {

    margin-top: 15px;

}

.check-termos {

    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;

}

.check-termos input {

    position: absolute;
    opacity: 0;

}

.check {

    width: 18px;
    height: 18px;
    border-radius: 4px;
    border: 2px solid #ff9f45;
    background-color: #ffe8cc;
    transition: 0.2s;
    position: relative;
}

.check-termos:hover .check {

    background-color: #ffd8a8;

}

.check::after {

    content: "";
    position: absolute;
    display: none;
    left: 5px;
    top: 1px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);

}

.check-termos input:checked ~ .check {

    background-color: #ff9f45;
    border-color:#ff9f45;

}

.check-termos input:checked ~ .check::after {

    display: block;

}

@media (max-width: 600px) {

    form {

        padding: 20px;

    }

    fieldset {

        padding: 20px;

    }

    legend {

        font-size: 1em;

    }

    .input-div input {

        font-size: 14px;

    }

    button {

        font-size: 0.9em;
        padding: 8px;

    }
}

#lista_usuarios {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    text-align: center;
    margin-top: 2rem;

}

#lista_usuarios h2 {

    color: #ff9800;
    margin-bottom: 1rem;

}

#lista_usuarios ul {

    list-style: none;
    padding: 0;
    background: #fffaf3;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ffe0b2;

}

#lista_usuarios li {

    padding: 8px 0;
    border-bottom: 1px solid #ffe0b2;

}

#lista_usuarios li:last-child {

    border-bottom: none;

}

#btn_voltar {

    margin-top: 15px;
    background: #ffb347;
    border: none;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;

}

#btn_voltar:hover {

    background: #f79c42;

}

form, #lista_usuarios {

    transition: opacity 0.3s ease, transform 0.3s ease;

}

.hidden {

    opacity: 0;
    transform: scale(0.95);
    pointer-events: none;

}

#lista_usuarios.hidden {

    display: none;

}

#lista_usuarios {

    display: block;

}

.input-informacoes input[type="date"] {

    width: 100%;
    border-radius: 8px;
    background-color: #ffffff;
    color: gray;

}

input[type="date"]::-webkit-calendar-picker-indicator {

    opacity: 0;
    cursor: pointer;

}